body {
  background: rgb(224, 224, 233);
  font-family: "Roboto", sans-serif;
}
a {
  color: rgb(67, 67, 177);
}

.weather-app {
  background: rgb(173, 173, 231);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(83, 48, 166, 0.08);
}

header {
  border-bottom: 1px solid rgb(6, 6, 46);
  padding-bottom: 30px;
}

.search-input {
  background-color: #f4f1fb;
  border: none;
  color: rgb(38, 31, 73);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: rgb(78, 78, 197);
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgb(44, 44, 67);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: rgb(113, 113, 240);
}

.current-temperature {
  display: flex;
}
.current-temperature-icon {
  width: 88px;
  height: 88px;
}

.current-temperature-value {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.current-temperature-unit {
  font-size: 28px;
  margin-top: 6px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  flex: 1;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
  flex: 1;
}
.weather-forecast-temperatures {
  text-align: center;
  color: rgb(113, 113, 240);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex: 1;
}
.weather-forecast-temperature {
  padding: 0 5px;
}
.footer {
  border-top: 1px solid rgb(6, 6, 46);
  text-align: center;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}
